@import 'mixin';
.about-us{
    &_title{
        @include font-text;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 75px;
    }
}
.about-block{
    display: flex;
    &_avatar{

    }
    &_text{
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        @include font-text;
    }
    &_button{

    }
    &_text-button{
        margin-left: 20px;
        
    }
}